.item {
  position: absolute;
  width: 121px;
  height: 64px;
  border:1px solid #41403E;
  background-color: rgb(248, 122, 122);
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 9px;
  line-height: 12px;
  z-index: 1;
  top: 1;
  left: 1;
}
.close {
  display: none;
  position: absolute;
  width: 10px;
  height: 10px;
  text-align: center;
  background-color: red;
  border-radius: 50%;
  line-height: 10px;
  padding: 1px;
  right: 1px;
  cursor: pointer;
  z-index: 1;
}
.item:hover .close{
  display: block;
  top: 1px;
  right: 1px;

}