.body {
  border-right: 1px solid #41403E;
  color: #FFFFFF;
  cursor: pointer;
  font-family: 'Inter';
  font-size: 8px;
  font-style: normal;
  font-weight: 400;
  height: 100%;
  line-height: 12px;
  opacity: 0.6;
  padding: 1px;
  text-align: center;
  width: 32px;
}